* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  color: var(--mainWhite);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
span {
  color:orange;
}
.monImage {
  background-image: url(Images/bg1.png);
  background-repeat:no-repeat;
  background-size: 90%;
  margin-top: -65px;
  opacity: 0.4px;
  height:500px;
  float: right; 
}
.spantt {
  color: aliceblue;
}
.trait {
  background-color: white;
  width: 100%;
}
.trait2 {
  background-color: white;
  width: 100%;
  height: 1px;
}
.mp3 {
  color: aliceblue;

}
.lien {
  color: aliceblue;
  margin-bottom: 20px;

}
.Em3 {
  color:white;
}
.lien li {
  margin-left: 20px;
  margin-bottom: 20px;
}
.iconCouleur {
  color: orange;
}
.secondBloc {
  width: 100%;
  height:550px;
  background-image: url(Images/dottedMap.jpg);
 
}
.texte {
  margin-top: 100px;
}
.mp1 {
  margin-top: 50px;
  size: 70%;
  opacity: 100%;

}
.Em1 {
     margin-top: 10px;
}
.Span1 {
  color: #007bff;
  margin-top: 10px;
}
.thirdBloc {
  background:lightgray;
  height:480px;
  width: 100%;
}
.FourthBloc {
  height:500px;
  background-color:var(--mainWhite);
}
.b4 {
  margin-top: 30px;
}
.mbtn {
  margin-bottom: 20px;
}
.top {
  color:orange;
}
.foto {
  float: left;
  width:200px;
  height:230px;
  margin-right: 10px;
}
.middle {
  margin-top: 30px;
  color:var(--mainBlack);
  opacity: 1;
}
.iconsearch {
  margin-top: 15px;
  margin-left: 5px;
}
.iconsmarket {
  margin-top: 15px;
  margin-left: 15px;
}
.maCouleur {
  background: #007bff;
  opacity: 0.9;
  height:600px;
  width: 100%;
  background-size: 100%;

}

.monTitle {
  margin-top: 10px;
}
.menuhaut {
  margin-top: 10px;
}

.nav-links{
  color:white;
}

.nav-links :hover{
  color:orange;
  cursor: pointer;
}
.blocDroit {
  background-image: url(Images/cbleu.png);
  background-repeat: no-repeat;
  background-size: 80%;
  margin-top: 110px;
  width: 100%;
  height:500px;  
}
.partie { 
   width: 130px;
   padding-bottom: 20px;
}
.mesimages {
  height: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right:50px ;
 margin-left: 50px; 

}
.textes {
  margin-top: 30px;
}
.monservice {
  margin-top: 15px;
}
.navbar2 {
  margin: 0;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('Images/ville2.jpg'); 
  background-repeat:no-repeat;
  background-size: 100%;
  color: white;
  z-index: 1;
  height:450px;
}
.mp2 {
  margin-top: 20px;
  size: 70%;
  opacity: 100%;

}
.Em2 {
     margin-top: 10px;
}
.maCouleur2 {
  position: relative;
  background: #007bff;
  opacity: 0.6;
  width: 100%;
  background-size: 100%;
  margin-top: -20px;
  height: 450px;
}
.rond {
  float: right;
  margin-right: 40px;
  margin-bottom: 10px;
}
.ImgBloc4 {
  position:absolute ;
  background-image: url(Images/hommeD.png);
  background-repeat:no-repeat;
  background-size: 77%;
  background-position: right;
  margin-top: 0px;
  float: right; 
  height: 450px;
}
.rondOrange {
  color:orange;
}
.moninput {
  height:40px;
  margin-bottom:0px;
}
.mesinputs {
  margin-top: 10px;
  height:200px;  
}
.footer {
  background-color: #007bff;
  height: 430px;
}
.icons3 {
   color: white;
}

/* Navbar */
.navbar {
  margin: 0;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('Images/travail.jpg'); 
  background-repeat:no-repeat;
  background-size: 100%;
  color: white;
  z-index: 1;
  height:600px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  color:white;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  color:white;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: orange;
}

.show-nav {
  height: 400px;
}
@media screen and (min-width: 768px) {
  .nav-btn { 
margin-left: 150px;
    display: none;
  }
 
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

/* 
 */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
